<%- include('../partials/header.ejs') %>
<main role="main">
  <ul class="flexgrid columns-news">
    <% posts.forEach(post => { %>
    <li>
      <a href="/posts/<%=post.id%>/comments">
        <span class="grid-number"><%=post.title %></span>
        <figure class="gallery-image">
          <img
            style="
              display: block;
              width: 30%;
              height: 60%;
              object-fit: cover;
              transition: transform 400ms ease-out;
            "
            src="<%= post.postImage %>"
          />
          <figcaption>
            <p class="post-from"><%= post.from%></p>
            <h2 class="post-d">
              <%= post.createdAt.toString().split(' ').slice(0, 4).join(' ');%>
            </h2>
            <h2 class="post-descr"><%= post.description %></h2>
          </figcaption>
        </figure>
      </a>
    </li>
    <% });%>
  </ul>
</main>